#social {
  ul.flex {
    flex-flow: row wrap;
    padding: 0 8vmin;
    gap: 8vmin;

    li {
      &:before {
        content: none;
      }

      flex: 1;

      &.qrcode {
        max-width: 40vmin;
      }
    }

    @media (max-width: 960px) {
      flex-flow: column nowrap;
      gap: unset;

      li {
        flex: 0 1 auto;
        margin: 0;
        text-align: center;

        &.qrcode {
          order: -1;
          width: 50%;
        }
      }
    }
  }
}
