#app {
  @media screen and (max-width: 1024px) {
    &:after {
      background-color: #e6c319;
      bottom: 0;
      content: 'Sadly, desktop only. 😢';
      display: flex;
      flex-flow: column nowrap;
      font-family: 'Roboto Slab', serif;
      font-weight: 700;
      font-size: 22px;
      justify-content: center;
      left: 0;
      position: fixed;
      text-align: center;
      top: 0;
      right: 0;
      z-index: 2;
    }
  }
}
