#thats-all {
  h1 {
    align-items: center;
    color: #fff;
    display: flex;
    flex: 1;
    font-family: 'Norican', cursive;
    font-size: 10vw;
    font-weight: 100;
    justify-content: center;
    text-align: center;
    text-shadow: 1vw 1vw 2px #000;
    z-index: 1;
  }
}
