.modal {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.25s ease-out;
  right: 0;

  .backdrop {
    background-color: #000;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 1;
  }
}
