#page-6 {
  & > ul {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    margin: auto 0;
    max-height: 300px;
    padding: 20px 0;
    text-align: center;

    li {
      font-size: 24px;
      margin: auto 0;
    }
  }

  & > .modal a {
    text-decoration: underline !important;
    font-weight: 400;
    color: #157fd4;
  }
}
