#page-2 {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  justify-content: center;
  margin: 0 auto;

  .transition {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
  }

  h1,
  h2 {
    margin: 0;
    flex: 1 0 100%;
    max-width: 50vw;
    font-weight: unset;
  }

  h2 {
    display: flex;
    font-weight: 300;
    justify-content: space-around;
    margin: 0;
    text-transform: uppercase;
    &#stack {
      max-width: 88%;
      font-size: 3.5vmax;
      span {
        min-width: 14px;
      }
    }
  }

  #tg-name-input {
    position: absolute;
    opacity: 0;

    &:checked {
      & ~ * {
        & ~ .image {
          &.left {
            transform: rotate(-5deg);
          }
          &.right {
            transform: rotate(5deg);
          }
        }
        &#tg-name-input-label,
        & #tg-name-input-label {
          #first-name {
            flex: 0;
            opacity: 0;
            padding: 0;
            width: 0;
          }
        }
      }
    }
  }

  #tg-name-input-label {
    display: flex;
    font-size: 8vmax;
    position: relative;
    user-select: none;

    span,
    strong {
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      @extend .transition;
    }

    #first-name {
      font-weight: 300;
      padding-right: 0.2em;
    }

    #last-name {
      text-transform: uppercase;
    }
  }

  .image {
    bottom: -10px;
    position: absolute;
    @extend .transition;
    transition: all 0.55s cubic-bezier(1, -0.3, 0.03, 1.4);

    &.left {
      left: -10px;
      transform: translatex(-150%) rotate(-180deg);
      img {
        object-position: -4px 0;
      }
    }

    &.right {
      right: -10px;
      transform: translatex(150%) rotate(180deg);
    }
  }
}
